* {
  box-sizing: border-box;
}

html, body, main{
  margin: 0;
  padding: 0;
  height: 100vh; 
  width: 100vw;
}

body {
  background-color: #F5F7FB;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  display: flex;
  justify-content: center;
  background-image: url("/images/blob1.png"), url("/images/blob2.png");
  background-repeat: no-repeat;
  background-position: 100% 0, 0% 100%;
  background-size: 20vw 30vh; 
  overflow: scroll;
}

@media only screen and (max-width: 1200px) {
  body {
    background-size: 15vw 10vh; 
  }
}

@media only screen and (max-height: 750px) {
  body {
    background-size: 20vw 40vh; 
  }
}

@media only screen and (max-height: 750px) and (max-width: 1200px){
  body {
    background-size: 15vw 10vh; 
  }
}

.cover-page, .questions-page {
  flex-grow: 1;
}

.btn-black {
  background-color: #000000;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.btn-black:hover {
  background-color: #4d4d4d;
  color: white;
}

.btn-black:active {
  transform: scale(0.95);
  background-color: #4d4d4d!important;
  color: white!important;
}

.cover-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 1200px) {
  .cover-page {
    padding-top: 10%;
  }
}

.description {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width: 27vw;
  margin-top: 20px;
  margin-bottom: 20px;
}


@media only screen and (max-width: 1200px) {
  .description {
    font-size: 1rem;
    width: 60vw;
  }
}

@media only screen and (max-height: 750px) {
  .description {
    font-size: 0.8rem;
    width: 80vw;
  }
}

.btn-start {
  font-size: 1.2rem;
  height: 60px;
  width: 200px;
}

@media only screen and (max-width: 1200px) {
  .btn-start {
    font-size: 1rem;
    height: 60px;
    width: 150px;
  }
}

@media only screen and (max-height: 750px) {
  .btn-start {
    font-size: 0.8rem;
    height: 50px;
    width: 130px;
  }
}

.difficulty-level {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .difficulty-level {
    font-size: 1rem;
  }
}

@media only screen and (max-height: 750px) {
  .difficulty-level {
    font-size: 0.8rem;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.category-options {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1200px) {
  .category-options {
    font-size: 1rem;
  }
}

@media only screen and (max-height: 750px) {
  .category-options {
    font-size: 0.8rem !important;
    margin-top: 3px;
    margin-bottom: 10px;
  }
}

.error-message {
  font-size: 2rem;
  font-weight: 500;
  color: #bc6b6b;
  padding-top: 30px;
} 

.questions-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
  width: 100vw;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 2%;
}

@media only screen and (max-width: 1200px) {
  .questions-page {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.question-container {
  margin-bottom: 40px;
}

.question {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  width: 50vw;
}

@media only screen and (max-width: 1200px) {
  .question {
    width: 90vw;
  }
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: end;
  gap: 15px;
  margin-bottom: 10px;
  width: 50vw;
}

@media only screen and (max-width: 1200px) {
  .answers {
    width: 90vw;
  }
}

input[type="radio"] {
	display: none;
}

.button-group label {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  color: black;
  border: 1px solid #000000;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 100px;
  max-width: 200px;
  padding: 10px 20px;
  margin: 5px;
}

.grey-button {
  background-color: #d9d9d9;
  border-radius: 15px;
  min-width: 100px;
  max-width: 200px;
}

.button-correct {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  color: black;
  background-color: #94D7A2;
  border: none;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 100px;
  max-width: 200px;
  padding: 10px 20px;
  margin: 5px;
}

.button-incorrect {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  color: #7a7a7a;
  background-color: #F8BCBC;
  border: none;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 100px;
  max-width: 200px;
  padding: 10px 20px;
  margin: 5px;
}

.button-faded {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  color: #9a9999;
  border: 1px solid #9a9999;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 100px;
  max-width: 200px;
  padding: 10px 20px;
  margin: 5px;
}

.unchecked-answers {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  width: 50vw;
  gap: 10px;
}

.checked-answers {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 50vw;
}

@media only screen and (max-width: 1200px) {
  .checked-answers {
    width: 100vw;
  }
}

@media only screen and (max-width: 750px) {
  .checked-answers {
    flex-wrap: wrap;
  }
}

.options {
  display: flex; 
  gap: 10px; 
  width: 50vw;
}

@media only screen and (max-width: 1200px) {
  .options {
    width: 80vw;
  }
}

.result {
  align-self: flex-end;
}

@media only screen and (max-width: 1200px) {
  .result > p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 750px), only screen and (max-height: 750px) {
  .result > p {
    font-size: 0.6rem;
  }
}

.correct {
  font-size: 1rem;
  font-weight: 500;
  color: #4ea360;
}

.incorrect {
  font-size: 1rem;
  font-weight: 500;
  color: #bc6b6b;
}

.line {
  border: 1.3px solid #d3d3d3;
  width: 50vw;
}

@media only screen and (max-width: 1200px) {
  .line {
    width: 90vw;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin-top: -10px;
}

@media only screen and (max-width: 1200px) {
  .footer {
    width: 70vw;
  }
}

.footer-container1 {
  align-self: center;
}

.footer-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

@media only screen and (max-width: 1200px) {
  .footer-container2 {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 30%;
  }
}

.score {
  font-size: 1rem;
  font-weight: 600;
  padding-top: 15px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .score {
    font-size: 0.8rem;
    padding-top: 0;
    width: 150px;
  }
}

@media only screen and (max-width: 750px) {
  .score {
    font-size: 0.8rem;
    padding-top: 15%;
    min-width: 150px;
    width: 150px;
  }
}

@media only screen and (max-height: 750px) {
  .score {
    font-size: 0.8rem;
    padding-top: 5%;
    width: 150px;
  }
}

.btn-check-answers, .btn-play-again {
  font-size: 1rem;
  height: 60px;
  width: 175px;
  align-self: center;
  display: inline-flex;
  justify-content: center;
  align-items: center; 
}

@media only screen and (max-width: 1200px) {
  .btn-check-answers {
    width: 150px;
    margin-left: 30%;
  }

  .btn-play-again {
    width: 150px;
    margin-left: 0; 
    margin-top: 0;
  }
}

@media only screen and (max-width: 750px) {
  .btn-check-answers {
    font-size: 0.8rem;
    height: 50px;
    width: 150px;
    margin-top: 20%;
  }

  .btn-play-again {
    font-size: 0.8rem;
    height: 50px;
    width: 130px;
    min-width: 130px;
    margin-top: 10%;
  }
}

@media only screen and (max-height: 750px) {
  .btn-check-answers {
    font-size: 0.8rem;
    height: 40px;
    width: 150px;
    margin-top: 10%;
  }

  .btn-play-again {
    font-size: 0.8rem;
    height: 50px;
    width: 130px;
    margin-top: 2%;
  }
}
